<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>

<body class="desktop-detected" style="">
    @Html.Partial("_Header")
    @Html.Partial("_Navigation")

    <div id="main" role="main">
        @Html.Partial("_Ribbon")

        <div id="content" style="opacity: 1;">
            @Html.Partial("_Breadcrumb")
            @RenderBody()
        </div>
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/notification")
    @Scripts.Render("~/bundles/site")

    @RenderSection("scripts", required: false)
</body>
</html>
